body {
  text-align: center;
  background-color: #f2f2f2;
}

h1 {
  color: #04006b;
}

ul {
  text-align: center;
  list-style: none;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  display: block;
  margin: auto;
}

input {
  padding: 10px;
  margin: 10px;
}
